# Importación de librerías

In [1]:
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Carga de datos

In [2]:
df_olympics = pd.read_csv('Datasets/120years_olympic/athlete_events.csv')

In [3]:
df_olympics.head(11)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN

# Procesamiento de Datos

## Eliminación del feature *ID*

In [4]:
df_olympics.drop('ID', axis=1, inplace=True)

In [5]:
df_olympics.head(5)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## Análisis de los datos

In [6]:
df_olympics.dtypes

Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [7]:
df_olympics.shape

(271116, 14)

## Análisis de las variables continuas

In [8]:
pct = [x/10 for x in range(1, 10)]
pct.append(0.95)
pct.append(0.99)
df_olympics.describe(pct)

                 Age         Height         Weight           Year
count  261642.000000  210945.000000  208241.000000  271116.000000
mean       25.556898     175.338970      70.702393    1978.378480
std         6.393561      10.518462      14.348020      29.877632
min        10.000000     127.000000      25.000000    1896.000000
10%        19.000000     162.000000      54.000000    1928.000000
20%        21.000000     167.000000      59.000000    1952.000000
30%        22.000000     170.000000      63.000000    1968.000000
40%        23.000000     173.000000      66.000000    1976.000000
50%        24.000000     175.000000      70.000000    1988.000000
60%        26.000000     178.000000      73.000000    1992.000000
70%        27.000000     181.000000      77.000000    2000.000000
80%        29.000000     184.000000      82.000000    2004.000000
90%        33.000000     188.000000      89.000000    2012.000000
95%        37.000000     193.000000      95.000000    2016.000000
99%        48.000000     200.000000     114.000000    2016.000000
max        97.000000     226.000000     214.000000    2016.000000

## Análisis de las variables categóricas

In [9]:
df_olympics.describe(include=['object'])

,Name,Sex,Team,NOC,Games,Season,City,Sport,Event,Medal
count,271116,271116,271116,271116,271116,271116,271116,271116,271116,39783
unique,134732,2,1184,230,51,2,42,66,765,3
top,Robert Tait McKenzie,M,United States,USA,2000 Summer,Summer,London,Athletics,Football Men's Football,Gold
freq,58,196594,17847,18853,13821,222552,22426,38624,5733,13372

In [10]:
type(df_olympics.columns)

pandas.core.indexes.base.Index

## Creación de función para detectar *missings*

In [11]:
def missings(df):
    for _ in df.columns:
        print '{} porcentaje missings: {:.2f}%'.format(_, 100*df[_].isnull().sum()/len(df[_]))

In [12]:
missings(df_olympics)

Name porcentaje missings: 0.00%
Sex porcentaje missings: 0.00%
Age porcentaje missings: 3.49%
Height porcentaje missings: 22.19%
Weight porcentaje missings: 23.19%
Team porcentaje missings: 0.00%
NOC porcentaje missings: 0.00%
Games porcentaje missings: 0.00%
Year porcentaje missings: 0.00%
Season porcentaje missings: 0.00%
City porcentaje missings: 0.00%
Sport porcentaje missings: 0.00%
Event porcentaje missings: 0.00%
Medal porcentaje missings: 85.33%

## Detección de *outliers* de feature *Age*

In [13]:
type(df_olympics['Age'])

pandas.core.series.Series

In [14]:
q1 = df_olympics['Age'].quantile(0.25)
q3 = df_olympics['Age'].quantile(0.75)
IQR = q3 - q1

### Cerca Interior

In [15]:
print q1 - 1.5*IQR, q3 + 1.5*IQR

10.5 38.5

### Cerca Exterior

In [16]:
print q1 - 3*IQR, q3 + 3*IQR

0.0 49.0

### Análisis de *outliers*

In [17]:
df_olympics[df_olympics['Age'] < 10.5]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
142882,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze

In [18]:
df_olympics[(df_olympics['Age'] > 38.5) & (df_olympics['Medal'].notnull())]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1755,Nils August Domingo Adlercreutz,M,45.0,NaN,NaN,Sweden,SWE,1912 Summer,1912,Summer,Stockholm,Equestrianism,"Equestrianism Men's Three-Day Event, Team",Gold
1756,Anna Mrtha Vilhelmina Adlerstrhle (von Oelreich-),F,39.0,NaN,NaN,Sweden,SWE,1908 Summer,1908,Summer,London,Tennis,"Tennis Women's Singles, Covered Courts",Bronze
2062,Henrik Agersborg,M,47.0,NaN,NaN,Stella-2,NOR,1920 Summer,1920,Summer,Antwerpen,Sailing,Sailing Mixed 6 metres,Bronze
2148,Carlo Agostoni Faini,M,39.0,170.0,NaN,Italy,ITA,1948 Summer,1948,Summer,London,Fencing,"Fencing Men's epee, Team",Silver
2397,Johan Petter hln (Andersson-),M,44.0,NaN,NaN,Sweden,SWE,1924 Winter,1924,Winter,Chamonix,Curling,Curling Men's Curling,Silver
2429,Christian Ahlmann,M,41.0,189.0,80.0,Germany,GER,2016 Summer,2016,Summer,Rio de Janeiro,Equestrianism,"Equestrianism Mixed Jumping, Team",Bronze
3223,Nasser Salih Nasser Abdullah Al-Attiya,M,41.0,178.0,82.0,Qatar,QAT,2012 Summer,2012,Summer,London,Shooting,Shooting Men's Skeet,Bronze
3304,Fehaid Al-Deehani,M,45.0,178.0,95.0,Kuwait,KUW,2012 Summer,2012,Summer,London,Shooting,Shooting Men's Trap,Bronze
3306,Fehaid Al-Deehani,M,49.0,178.0,95.0,Individual Olympic Athletes,IOA,2016 Summer,2016,Summer,Rio de Janeiro,Shooting,Shooting Men's Double Trap,Gold
3354,Ramzy Al-Duhami,M,40.0,162.0,70.0,Saudi Arabia,KSA,2012 Summer,2012,Summer,London,Equestrianism,"Equestrianism Mixed Jumping, Team",Bronze
3542,Ahmed bin Hasher Al-Maktoum,M,40.0,175.0,67.0,United Arab Emirates,UAE,2004 Summer,2004,Summer,Athina,Shooting,Shooting Men's Double Trap,Gold
3680,Abdullah Al-Rashidi,M,52.0,183.0,83.0,Individual Olympic Athletes,IOA,2016 Summer,2016,Summer,Rio de Janeiro,Shooting,Shooting Men's Skeet,Bronze
4151,John Robert Albrechtson,M,39.0,181.0,67.0,Sweden,SWE,1976 Summer,1976,Summer,Montreal,Sailing,Sailing Mixed Two Person Keelboat,Gold
4632,Hans Daniel Alfredsson,M,41.0,182.0,92.0,Sweden,SWE,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
4784,Sergey Gennadyevich Alifirenko,M,41.0,168.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Shooting,"Shooting Men's Rapid-Fire Pistol, 25 metres",Gold
4785,Sergey Gennadyevich Alifirenko,M,45.0,168.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Shooting,"Shooting Men's Rapid-Fire Pistol, 25 metres",Bronze
4877,Alphonse Allaert,M,44.0,NaN,NaN,Belgium,BEL,1920 Summer,1920,Summer,Antwerpen,Archery,"Archery Men's Target Archery, 28 metres, Team",Silver
4878,Alphonse Allaert,M,44.0,NaN,NaN,Belgium,BEL,1920 Summer,1920,Summer,Antwerpen,Archery,"Archery Men's Target Archery, 33 metres, Team",Gold
4879,Alphonse Allaert,M,44.0,NaN,NaN,Belgium,BEL,1920 Summer,1920,Summer,Antwerpen,Archery,"Archery Men's Target Archery, 50 metres, Team",Gold
4916,Alister Millar Allan,M,40.0,162.0,68.0,Great Britain,GBR,1984 Summer,1984,Summer,Los Angeles,Shooting,"Shooting Men's Small-Bore Rifle, Three Positio...",Bronze
4918,Alister Millar Allan,M,44.0,162.0,68.0,Great Britain,GBR,1988 Summer,1988,Summer,Seoul,Shooting,"Shooting Men's Small-Bore Rifle, Three Positio...",Silver
5059,Arthur Allers,M,44.0,NaN,NaN,Heira II,NOR,1920 Summer,1920,Summer,Antwerpen,Sailing,Sailing Mixed 12 metres,Gold
5077,Derek Swithin Allhusen,M,54.0,180.0,71.0,Great Britain,GBR,1968 Summer,1968,Summer,Mexico City,Equestrianism,"Equestrianism Mixed Three-Day Event, Individual",Silver
5078,Derek Swithin Allhusen,M,54.0,180.0,71.0,Great Britain,GBR,1968 Summer,1968,Summer,Mexico City,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Gold
5294,Erland Herman Lison Almkvist,M,39.0,NaN,NaN,Tornado,SWE,1952 Summer,1952,Summer,Helsinki,Sailing,Sailing Mixed Three Person Keelboat,Silver
5918,Santiago Amat Cansino,M,45.0,NaN,NaN,Spain,ESP,1932 Summer,1932,Summer,Los Angeles,Sailing,Sailing Mixed One Person Dinghy,Bronze
6192,Otto Ammermann,M,43.0,183.0,71.0,West Germany,FRG,1976 Summer,1976,Summer,Montreal,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Silver
6280,Edgar Montague Amphlett,M,40.0,NaN,NaN,Great Britain,GBR,1908 Summer,1908,Summer,London,Fencing,"Fencing Men's epee, Team",Silver
6318,Gaston Marcel Amson,M,44.0,NaN,NaN,France,FRA,1928 Summer,1928,Summer,Amsterdam,Fencing,"Fencing Men's epee, Team",Silver
6721,Niels Andersen,M,44.0,NaN,NaN,Denmark,DEN,1912 Summer,1912,Summer,Stockholm,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261671,Walter Winans,M,56.0,NaN,NaN,United States,USA,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Running Target, Double Shot",Gold
261675,Walter Winans,M,60.0,NaN,NaN,United States,USA,1912 Summer,1912,Summer,Stockholm,Art Competitions,Art Competitions Mixed Sculpturing,Gold
261677,Walter Winans,M,60.0,NaN,NaN,United States,USA,1912 Summer,1912,Summer,Stockholm,Shooting,"Shooting Men's Running Target, Single Shot, Team",Silver
261844,Hans Gnter Winkler,M,42.0,174.0,72.0,West Germany,FRG,1968 Summer,1968,Summer,Mexico City,Equestrianism,"Equestrianism Mixed Jumping, Team",Bronze
261845,Hans Gnter Winkler,M,46.0,174.0,72.0,West Germany,FRG,1972 Summer,1972,Summer,Munich,Equestrianism,"Equestrianism Mixed Jumping, Team",Gold
261847,Hans Gnter Winkler,M,49.0,174.0,72.0,West Germany,FRG,1976 Summer,1976,Summer,Montreal,Equestrianism,"Equestrianism Mixed Jumping, Team",Silver
262054,Percival Kinnear Wise,M,39.0,177.0,NaN,Great Britain,GBR,1924 Summer,1924,Summer,Paris,Polo,Polo Men's Polo,Bronze
262398,Mamo Wolde,M,40.0,170.0,54.0,Ethiopia,ETH,1972 Summer,1972,Summer,Munich,Athletics,Athletics Men's Marathon,Bronze
262475,Sebastio Wolf,M,51.0,175.0,NaN,Brazil,BRA,1920 Summer,1920,Summer,Antwerpen,Shooting,"Shooting Men's Free Pistol, 50 metres, Team",Bronze
262786,"Mervyn Thomas ""Merv"" Wood",M,39.0,NaN,NaN,Australia,AUS,1956 Summer,1956,Summer,Melbourne,Rowing,Rowing Men's Double Sculls,Bronze
262861,Charles Sherman Woodruff,M,59.0,NaN,NaN,Cincinnati Archers,USA,1904 Summer,1904,Summer,St. Louis,Archery,Archery Men's Team Round,Silver
262865,Emily Woodruff (Smiley-),F,58.0,NaN,NaN,Cincinnati Archers,USA,1904 Summer,1904,Summer,St. Louis,Archery,Archery Women's Team Round,Gold
263200,Frank Seymour Wright,M,41.0,174.0,NaN,United States,USA,1920 Summer,1920,Summer,Antwerpen,Shooting,Shooting Men's Trap,Bronze
263201,Frank Seymour Wright,M,41.0,174.0,NaN,United States,USA,1920 Summer,1920,Summer,Antwerpen,Shooting,"Shooting Men's Trap, Team",Gold
263261,"Joseph Walter Harris ""Joe"" Wright, Sr.",M,40.0,NaN,75.0,Toronto Argonauts,CAN,1904 Summer,1904,Summer,St. Louis,Rowing,Rowing Men's Coxed Eights,Silver
263262,"Joseph Walter Harris ""Joe"" Wright, Sr.",M,44.0,NaN,75.0,Toronto Argonauts,CAN,1908 Summer,1908,Summer,London,Rowing,Rowing Men's Coxed Eights,Bronze
263656,Peter Wylde,M,39.0,182.0,74.0,United States,USA,2004 Summer,2004,Summer,Athina,Equestrianism,"Equestrianism Mixed Jumping, Team",Gold
264374,Hiroshi Yamamoto,M,41.0,170.0,71.0,Japan,JPN,2004 Summer,2004,Summer,Athina,Archery,Archery Men's Individual,Silver
265263,Jack Butler Yeats,M,52.0,NaN,NaN,Ireland,IRL,1924 Summer,1924,Summer,Paris,Art Competitions,Art Competitions Mixed Painting,Silver
265464,Hubert Yencesse,M,48.0,NaN,NaN,France,FRA,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",Bronze
266293,Mahonri Mackintosh Young,M,54.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",Gold
266971,douard mile Gustave Yves,M,40.0,NaN,NaN,Belgium,BEL,1948 Summer,1948,Summer,London,Fencing,"Fencing Men's Foil, Team",Bronze
267812,Jzef Zapdzki,M,39.0,174.0,71.0,Poland,POL,1968 Summer,1968,Summer,Mexico City,Shooting,"Shooting Mixed Rapid-Fire Pistol, 25 metres",Gold
267813,Jzef Zapdzki,M,43.0,174.0,71.0,Poland,POL,1972 Summer,1972,Summer,Munich,Shooting,"Shooting Mixed Rapid-Fire Pistol, 25 metres",Gold
268187,Vasilij bogar,M,40.0,189.0,98.0,Slovenia,SLO,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Men's One Person Heavyweight Dinghy,Silver
269922,Rbert Zimonyi,M,46.0,170.0,52.0,United States,USA,1964 Summer,1964,Summer,Tokyo,Rowing,Rowing Men's Coxed Eights,Gold
270260,Armin Zggeler,M,40.0,181.0,88.0,Italy,ITA,2014 Winter,2014,Winter,Sochi,Luge,Luge Men's Singles,Bronze
270609,Aleksandr Yuryevich Zubkov,M,39.0,189.0,102.0,Russia-1,RUS,2014 Winter,2014,Winter,Sochi,Bobsleigh,Bobsleigh Men's Two,Gold
270610,Aleksandr Yuryevich Zubkov,M,39.0,189.0,102.0,Russia-1,RUS,2014 Winter,2014,Winter,Sochi,Bobsleigh,Bobsleigh Men's Four,Gold
270970,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,39.0,183.0,100.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's Discus Throw,Gold

In [19]:
len(df_olympics[df_olympics['Age'] > 49])

2216

## Creación de función para detectar *outliers*

In [20]:
df_olympics.dtypes

Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [21]:
type(df_olympics.dtypes)

pandas.core.series.Series

In [22]:
for i in df_olympics.dtypes:
    if i != object:
        print i

float64
float64
float64
int64

In [23]:
for i in df_olympics.dtypes.index:
    print i

Name
Sex
Age
Height
Weight
Team
NOC
Games
Year
Season
City
Sport
Event
Medal

In [24]:
cont_var = []
for i in df_olympics.dtypes.index:
    if df_olympics.dtypes[i] != object:
        cont_var.append(i)

In [25]:
cont_var = [
    x for x in df_olympics.dtypes.index if df_olympics.dtypes[x] != object]

In [26]:
cont_var

['Age', 'Height', 'Weight', 'Year']

In [27]:
def outliers(df):
    cont_var = [x for x in df.dtypes.index if df.dtypes[x] != object]
    for _ in cont_var:
        q1 = df[_].quantile(0.25)
        q3 = df[_].quantile(0.75)
        IQR = q3 - q1
        print 'Cerca Int {}, min {}, max {}'.format(_, q1 - 1.5*IQR, q3 + 1.5*IQR)
        print 'Cerca Ext {}, min {}, max {}'.format(_, q1 - 3*IQR, q3 + 3*IQR)

In [28]:
outliers(df_olympics)

Cerca Int Age, min 10.5, max 38.5
Cerca Ext Age, min 0.0, max 49.0
Cerca Int Height, min 145.5, max 205.5
Cerca Ext Height, min 123.0, max 228.0
Cerca Int Weight, min 31.5, max 107.5
Cerca Ext Weight, min 3.0, max 136.0
Cerca Int Year, min 1897.0, max 2065.0
Cerca Ext Year, min 1834.0, max 2128.0

## Análisis de *outliers*

In [29]:
df_olympics[df_olympics['Weight'] == 25]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
40849,Choi Myong-Hui,F,14.0,135.0,25.0,North Korea,PRK,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Individual All-Around,NaN
40850,Choi Myong-Hui,F,14.0,135.0,25.0,North Korea,PRK,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Team All-Around,NaN
40851,Choi Myong-Hui,F,14.0,135.0,25.0,North Korea,PRK,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Floor Exercise,NaN
40852,Choi Myong-Hui,F,14.0,135.0,25.0,North Korea,PRK,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Horse Vault,NaN
40853,Choi Myong-Hui,F,14.0,135.0,25.0,North Korea,PRK,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Uneven Bars,NaN
40854,Choi Myong-Hui,F,14.0,135.0,25.0,North Korea,PRK,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Balance Beam,NaN

In [40]:
df_olympics.dropna(subset=['Age', 'Height', 'Weight'], how='all')

262693

In [41]:
len(df_olympics.dropna(subset=['Age', 'Height', 'Weight'], how='any'))

206165

In [30]:
df_olympics_null = df_olympics[(df_olympics['Age'].isnull()) & (df_olympics['Weight'].isnull()) & (df_olympics['Height'].isnull())]

In [ ]:
df_olympics.dropna(subset=['Age', 'Height', 'Weight'], how='all')

In [37]:
df_olympics_null

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
147,Mohamed Jamshid Abadi,M,NaN,NaN,NaN,Iran,IRI,1948 Summer,1948,Summer,London,Boxing,Boxing Men's Heavyweight,NaN
152,Georgi Abadzhiev,M,NaN,NaN,NaN,Bulgaria,BUL,1924 Summer,1924,Summer,Paris,Cycling,"Cycling Men's Road Race, Individual",NaN
153,Georgi Abadzhiev,M,NaN,NaN,NaN,Bulgaria,BUL,1924 Summer,1924,Summer,Paris,Cycling,"Cycling Men's Road Race, Team",NaN
212,Sayed Fahmy Abaza,M,NaN,NaN,NaN,Egypt,EGY,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
213,Sayed Fahmy Abaza,M,NaN,NaN,NaN,Egypt,EGY,1928 Summer,1928,Summer,Amsterdam,Football,Football Men's Football,NaN
261,Franz Abb,M,NaN,NaN,NaN,Germany,GER,1900 Summer,1900,Summer,Paris,Gymnastics,Gymnastics Men's Individual All-Around,NaN
268,"George ""Ioannis"" Abbot",M,NaN,NaN,NaN,Thessalonki-1,GRE,1906 Summer,1906,Summer,Athina,Football,Football Men's Football,Bronze
302,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Individual All-Around,NaN
303,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Team All-Around,NaN
304,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Floor Exercise,NaN
305,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Horse Vault,NaN
306,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Parallel Bars,NaN
307,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
308,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Rings,NaN
309,Ismail Abdallah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Pommelled Horse,NaN
314,Ould Lamine Abdallah,M,NaN,NaN,NaN,France,FRA,1952 Summer,1952,Summer,Helsinki,Athletics,"Athletics Men's 10,000 metres",NaN
323,Mahmoud Atter Abdel Fattah,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Athletics,Athletics Men's Long Jump,NaN
333,Abdel Sattar Abdel Hadj,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Rowing,Rowing Men's Coxed Eights,NaN
340,Mohamed Abdel Hafiz,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Water Polo,Water Polo Men's Water Polo,NaN
344,Ibrahim Abdel Hamid,M,NaN,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Wrestling,"Wrestling Men's Featherweight, Freestyle",NaN
379,Ibrahim Abdel Rahman,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Water Polo,Water Polo Men's Water Polo,NaN
394,Mohamed Abdel Sami,M,NaN,NaN,NaN,United Arab Republic,UAR,1960 Summer,1960,Summer,Roma,Rowing,Rowing Men's Coxed Eights,NaN
405,Mohamed Abdel-El,M,NaN,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Wrestling,"Wrestling Men's Flyweight, Greco-Roman",NaN
409,Sanad Bushara Abdel-Nadif,M,NaN,NaN,NaN,Sudan,SUD,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
413,Moustafa Abdelal,M,NaN,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,NaN
414,Moustafa Abdelal,M,NaN,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,NaN
415,Moustafa Abdelal,M,NaN,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Floor Exercise,NaN
416,Moustafa Abdelal,M,NaN,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,NaN
417,Moustafa Abdelal,M,NaN,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Parallel Bars,NaN
418,Moustafa Abdelal,M,NaN,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270050,Halil brahim Zraman,M,NaN,NaN,NaN,Turkey,TUR,1948 Summer,1948,Summer,London,Athletics,Athletics Men's Javelin Throw,NaN
270051,Halil brahim Zraman,M,NaN,NaN,NaN,Turkey,TUR,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Men's Javelin Throw,NaN
270062,Andreas Ziro,M,NaN,NaN,NaN,Marie-Tim,GRE,1952 Summer,1952,Summer,Helsinki,Sailing,Sailing Mixed Two Person Keelboat,NaN
270077,Georgios Zisimos,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Shooting,"Shooting Men's Free Pistol, 25 metres",NaN
270078,Georgios Zisimos,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Shooting,"Shooting Men's Free Pistol, 50 metres",NaN
270079,Georgios Zisimos,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Shooting,"Shooting Men's Military Revolver, 1873-1874 Gr...",NaN
270080,Georgios Zisimos,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Shooting,"Shooting Men's Military Revolver, 20 metres",NaN
270263,Dimitrios Zografos,M,NaN,NaN,NaN,Greece,GRE,1948 Summer,1948,Summer,London,Water Polo,Water Polo Men's Water Polo,NaN
270279,Erich Zoigner,M,NaN,NaN,NaN,Austria,AUT,1924 Summer,1924,Summer,Paris,Shooting,Shooting Men's Trap,NaN
270280,Erich Zoigner,M,NaN,NaN,NaN,Austria,AUT,1924 Summer,1924,Summer,Paris,Shooting,"Shooting Men's Trap, Team",NaN
270287,Oscar Zolezzi,M,NaN,NaN,NaN,Argentina,ARG,1948 Summer,1948,Summer,London,Rowing,Rowing Men's Coxless Fours,NaN
270316,Bla Zoltn,M,NaN,NaN,NaN,Hungary,HUN,1928 Summer,1928,Summer,Amsterdam,Rowing,Rowing Men's Coxed Fours,NaN
270317,"Gyula Zombori (Zanich, Janicsek)",M,NaN,NaN,NaN,Hungary,HUN,1932 Summer,1932,Summer,Los Angeles,Wrestling,"Wrestling Men's Welterweight, Greco-Roman",NaN
270318,"Gyula Zombori (Zanich, Janicsek)",M,NaN,NaN,NaN,Hungary,HUN,1932 Summer,1932,Summer,Los Angeles,Wrestling,"Wrestling Men's Welterweight, Freestyle",NaN
270353,Khristos Zorbas,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Fencing,"Fencing Men's Foil, Individual",NaN
270354,Khristos Zorbas,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Fencing,"Fencing Men's epee, Individual",NaN
270355,Khristos Zorbas,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Fencing,"Fencing Men's epee, Team",NaN
270356,Khristos Zorbas,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Fencing,"Fencing Men's Sabre, Individual",NaN
270357,Khristos Zorbas,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Fencing,"Fencing Men's Sabre, Individual, Three Hits",NaN
270358,Khristos Zorbas,M,NaN,NaN,NaN,Greece,GRE,1906 Summer,1906,Summer,Athina,Fencing,"Fencing Men's Sabre, Team",Silver
270364,Aleksandar Zori,M,NaN,NaN,NaN,Yugoslavia,YUG,1948 Summer,1948,Summer,London,Cycling,"Cycling Men's Road Race, Individual",NaN
270365,Aleksandar Zori,M,NaN,NaN,NaN,Yugoslavia,YUG,1948 Summer,1948,Summer,London,Cycling,"Cycling Men's Road Race, Team",NaN
270429,Amedeo Zotti,M,NaN,NaN,NaN,Italy,ITA,1920 Summer,1920,Summer,Antwerpen,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,NaN
270443,Zou Wenzhi,M,NaN,NaN,NaN,China,CHN,1948 Summer,1948,Summer,London,Football,Football Men's Football,NaN
270453,Ahmed Zoubi,M,NaN,NaN,NaN,Libya,LBA,1980 Summer,1980,Summer,Moskva,Volleyball,Volleyball Men's Volleyball,NaN
270473,Khristos Zoumis,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Triple Jump,NaN
270679,Antonio A. Zucchi,M,NaN,NaN,NaN,Argentina,ARG,1948 Summer,1948,Summer,London,Hockey,Hockey Men's Hockey,NaN
270774,Star Zulu,M,NaN,NaN,NaN,Zambia,ZAM,1984 Summer,1984,Summer,Los Angeles,Boxing,Boxing Men's Bantamweight,NaN
270793,Max Zumstein,M,NaN,NaN,NaN,Switzerland,SUI,1928 Summer,1928,Summer,Amsterdam,Hockey,Hockey Men's Hockey,NaN
270805,Faelo Ziga,M,NaN,NaN,NaN,Chile,CHI,1928 Summer,1928,Summer,Amsterdam,Swimming,Swimming Men's 100 metres Freestyle,NaN

In [31]:
len(df_olympics_null['Sex'])

8423

In [32]:
df_olympics.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## Creación de nuevas tablas

In [33]:
type(pd.crosstab(index=df_olympics['Medal'], columns=df_olympics['Sex'], margins=True))

pandas.core.frame.DataFrame

In [34]:
pd.crosstab(index=df_olympics['Medal'], columns=df_olympics['Sex'], margins=True)

Sex         F      M    All
Medal
Bronze   3771   9524  13295
Gold     3747   9625  13372
Silver   3735   9381  13116
All     11253  28530  39783

In [35]:
type(df_olympics.groupby(['Year', 'Medal', 'Sex']).count())

pandas.core.frame.DataFrame

In [36]:
df_olympics.groupby(['Year', 'Medal', 'Sex']).count()

                 Name  Age  Height  Weight  Team  NOC  Games  Season  City  \
Year Medal  Sex
1896 Bronze M      38   20       3       3    38   38     38      38    38
     Gold   M      62   52      13      13    62   62     62      62    62
     Silver M      43   29       6       6    43   43     43      43    43
1900 Bronze F       5    5       0       0     5    5      5       5     5
            M     170  125      16      10   170  170    170     170   170
     Gold   F       4    4       0       0     4    4      4       4     4
            M     197  175      27      21   197  197    197     197   197
     Silver F       4    2       0       0     4    4      4       4     4
            M     224  157      18      13   224  224    224     224   224
1904 Bronze F       2    2       0       0     2    2      2       2     2
            M     148  125      23      14   148  148    148     148   148
     Gold   F       6    5       0       0     6    6      6       6     6
            M     167  155      51      45   167  167    167     167   167
     Silver F       2    2       0       0     2    2      2       2     2
            M     161  133      25      22   161  161    161     161   161
1906 Bronze F       2    1       0       0     2    2      2       2     2
            M     143   82      20      16   143  143    143     143   143
     Gold   F       2    1       0       0     2    2      2       2     2
            M     155  125      32      29   155  155    155     155   155
     Silver F       2    0       0       0     2    2      2       2     2
            M     154   98      28      25   154  154    154     154   154
1908 Bronze F       5    5       0       0     5    5      5       5     5
            M     251  232      47      67   251  251    251     251   251
     Gold   F       6    5       0       0     6    6      6       6     6
            M     288  280      67      80   288  288    288     288   288
     Silver F       5    5       0       0     5    5      5       5     5
            M     276  238      49      70   276  276    276     276   276
1912 Bronze F      10   10       0       0    10   10     10      10    10
            M     290  287      45      34   290  290    290     290   290
     Gold   F      10   10       0       0    10   10     10      10    10
...               ...  ...     ...     ...   ...  ...    ...     ...   ...
2008 Bronze F     319  319     317     317   319  319    319     319   319
            M     391  391     390     390   391  391    391     391   391
     Gold   F     306  306     306     300   306  306    306     306   306
            M     365  365     364     364   365  365    365     365   365
     Silver F     307  307     307     307   307  307    307     307   307
            M     360  360     359     359   360  360    360     360   360
2010 Bronze F      75   75      75      75    75   75     75      75    75
            M      96   96      96      95    96   96     96      96    96
     Gold   F      77   77      77      76    77   77     77      77    77
            M      97   97      97      97    97   97     97      97    97
     Silver F      77   77      77      77    77   77     77      77    77
            M      98   98      98      95    98   98     98      98    98
2012 Bronze F     314  314     314     307   314  314    314     314   314
            M     365  365     363     362   365  365    365     365   365
     Gold   F     301  301     301     295   301  301    301     301   301
            M     331  331     330     327   331  331    331     331   331
     Silver F     303  303     303     299   303  303    303     303   303
            M     327  327     327     325   327  327    327     327   327
2014 Bronze F      87   87      87      83    87   87     87      87    87
            M     111  111     111     107   111  111    111     111   111
     Gold   F      91   91      91      85    91   91     91      91    91
            M     111  111     111     105   111  111    111     111   111
     Silver F      87   87      87      82    87   87     87      87    87
            M     110  110     110     108   110  110    110     110   110
2016 Bronze F     331  331     330     331   331  331    331     331   331
            M     372  372     372     370   372  372    372     372   372
     Gold   F     318  318     318     318   318  318    318     318   318
            M     347  347     346     344   347  347    347     347   347
     Silver F     320  320     320     319   320  320    320     320   320
            M     335  335     334     333   335  335    335     335   335

                 Sport  Event
Year Medal  Sex
1896 Bronze M       38     38
     Gold   M       62     62
     Silver M       43     43
1900 Bronze F        5      5
            M      170    170
     Gold   F        4      4
            M      197    197
     Silver F        4      4
            M      224    224
1904 Bronze F        2      2
            M      148    148
     Gold   F        6      6
            M      167    167
     Silver F        2      2
            M      161    161
1906 Bronze F        2      2
            M      143    143
     Gold   F        2      2
            M      155    155
     Silver F        2      2
            M      154    154
1908 Bronze F        5      5
            M      251    251
     Gold   F        6      6
            M      288    288
     Silver F        5      5
            M      276    276
1912 Bronze F       10     10
            M      290    290
     Gold   F       10     10
...                ...    ...
2008 Bronze F      319    319
            M      391    391
     Gold   F      306    306
            M      365    365
     Silver F      307    307
            M      360    360
2010 Bronze F       75     75
            M       96     96
     Gold   F       77     77
            M       97     97
     Silver F       77     77
            M       98     98
2012 Bronze F      314    314
            M      365    365
     Gold   F      301    301
            M      331    331
     Silver F      303    303
            M      327    327
2014 Bronze F       87     87
            M      111    111
     Gold   F       91     91
            M      111    111
     Silver F       87     87
            M      110    110
2016 Bronze F      331    331
            M      372    372
     Gold   F      318    318
            M      347    347
     Silver F      320    320
            M      335    335

[207 rows x 11 columns]

In [43]:
pd.crosstab(index=df_olympics['Medal'], columns=df_olympics['Year'][df_olympics['Year']>1967], margins=True)

Year,1968.0,1972.0,1976.0,1980.0,1984.0,1988.0,1992.0,1994.0,1996.0,1998.0,2000.0,2002.0,2004.0,2006.0,2008.0,2010.0,2012.0,2014.0,2016.0,All
Medal,,,,,,,,,,,,,,,,,,,,
Bronze,421,485,518,542,576,637,710,112,629,150,680,159,677,175,710,171,679,198,703,8932
Gold,425,474,508,529,571,607,663,110,608,145,663,162,664,176,671,174,632,202,665,8649
Silver,410,455,505,531,551,601,657,109,605,145,661,157,660,175,667,175,630,197,655,8546
All,1256,1414,1531,1602,1698,1845,2030,331,1842,440,2004,478,2001,526,2048,520,1941,597,2023,26127

In [53]:
for i in range(5):
    print df_olympics['Season'][df_olympics['Year'] == 1994 + 4*i].iloc[0]

Winter
Winter
Winter
Winter
Winter